{%load staticfiles %}
<!DOCTYPE html>
<html>
<title>Perfil de {{ user.get_username }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/css/perfil.css' %}">
<link rel="stylesheet" href="{% static '/css/slider.css' %}">
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
body,h1,h2,h3,h4,h5 {font-family: "Noto Sans", sans-serif}
body {font-size:16px;}
body {background-color:#fafafa}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-verde w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Bienvenido<br>{{ user.get_username }}</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="#grupos" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Grupos</a>
    <a href="#equipoIdeal" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Equipo Ideal</a>
    <a href="#polla" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Polla</a>
    <a href="../creartrivia/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Trivia</a>
    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Desconectarse</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-verde w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-verde w3-margin-right" onclick="w3_open()">&#9776;</a>
  <span>MundialPlay</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<!-- Home
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo";
        color: #263238;">
    <b>¡Hola </b>{{ user.get_username }}<b>!</b>
    </h1>

  </div>
  -->
  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="grupos">
      <h1 class="w3-jumbo" style="
          color: #263238;">
          <b>Mi perfil</b>
      </h1>
      <hr>
      <!-- Subtiulos -->

  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
      <div class="w3-half" style="padding-right:100px">
        <h1 class="w3-xxxlarge w3-text-light" style="">
            <b>Invitaciones</b>
        </h1>
          <div id = 'invitarusuarioagrupo' class="form-group">
              <form method="post" action='../invitarusuario/' >
                {% csrf_token %}
                <br><br>
                <label>Invitar al grupo: </label>
                <select class="form-control" id="grupo" class="reg_input" size="1" name="grupo" required>
                    {% for t in grupos %}
                      <option value={{t}}> {{t}} </option>
                    {% endfor %}
                </select>
                <br>
                <label>Enviar invitacion a: </label>
                <input class="form-control" type="text" size=15 name="invitado" id="invitado" maxlength="25" onkeyup="nospaces(this)"
                required="" placeholder="Ingrese el nombre del usuario">
                <br>
                <button type="submit" class="btn btn-info option" name='submit' value="signup"
                style="color: #004085;
                background-color: #e9ecef;
                border: none;"/>
                  Enviar invitacion
                </button>
              </form>
              <br>
          </div>
      </div>

    <div class="w3-half" style="padding-right:100px">
      <h1 class="w3-xxxlarge w3-text-light" style="">
          <b>Mis grupos</b>
      </h1>
        <div>Crear grupo</div>
        <hr>
            <form method="post" action='../agregargrupo/' >
                {% csrf_token %}
                <label>Nombre de grupo a crear:</label>
                <input class="form-control" type="text" size=15 name="nombregrupo" id="nombregrupo" maxlength="25"
                  onkeyup="nospaces(this)" required="">
                <br>
                <button type="submit" class="btn btn-primary option" name='submit' value="signup"
                  style="
                  color: #004085;
                  background-color: #e9ecef;
                  border:  none;"/>
                  Crear Grupo
                </button>
            </form>
          <br>
            <p> Tus grupos</p>
            <hr>
            <form method="post" action='/perfil/' >
                {% csrf_token %}
                <select class="form-control" name="sometext" id='sometext' >
                  {% for x in misgrupos %}
                  <option>{{x}}</option>
                  {% endfor %}</select>
                  <button type="submit" class="btn btn-primary option" name='submit' value="Consultar"  style="
                    color: #004085;
                    background-color: #e9ecef;
                    border:  none;"/>
                    Consultar miembros
                  </button>
            </form>
        <!-- Mostrar usuarios del grupo en formato lista-->
          <ul>
              {% for f in listausuarios %}
                <li>{{f}}</li>
                  {% endfor %}
        </ul>
    </div>

  <p>Notificaciones<p>
  <table>
  {% for i in Invitaciones %}
  <tr>
  <td>Grupo: {{i}}</td>
  <td>   <form action = "../responderinvitacion/" method = "post">
     {% csrf_token %}
     <input type="hidden" name="grupo" value="{{i}}">
     <input type="hidden" name="rpta" value="aceptado">
          <input type="submit" name="upvote" value="Aceptar" />
      </form></td>
      <td>  <form action = "../responderinvitacion/" method = "post">
               {% csrf_token %}
               <input type="hidden" name="grupo" value="{{i}}">
               <input type="hidden" name="rpta" value="rechazado">
          <input type="submit" name="upvote" value="Rechazar" />

      </form></td>
    </tr>
  {% endfor %}
</table><br><br>


<div><p>Saldo en cuenta: S/.{{saldo}}<p><br>
  <form method="post" action='/recargarcuenta' >
    {% csrf_token %}
 <label>Saldo a recargar en su cuenta:</label><br>
 <input  min="0" type="number"  id='cantidadarecargar' name="cantidadarecargar">
<br>
<button type="submit" class="btn btn-primary option" name='submit' value="Recargar" style="
color: #004085;
background-color: #e9ecef;
border:  none;"/>Recargar</button>
</form>
</div>

  <!-- Equipo Ideal -->
  <div class="w3-container" id="equipoIdeal" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b style="
    font-family:  cursive;
    color: #5868c1;
">Equipo Ideal</b></h1>
    <hr>
    <img src="http://www.elclasicofutbol5.com/wp-content/uploads/2015/06/cancha-dimensiones-futbol.jpg" width="400" height="400">
    <br><br>
    <button class="btn btn-primary option" style="
    color: #004085;
    background-color: #e9ecef;
    border:  none;"/>Jugar</button>
  </div>

  <!-- Polla -->
  <div class="w3-container" id="polla" style="margin-top:75px" >
    <h1 class="w3-xxxlarge w3-text-red"><b style="
    font-family:  cursive;
    color: #5868c1;
">Polla</b></h1>
    <hr>
    <img src="https://www.oscfondesarrollo.com/pollaeliminatorias/resources/img/laptop-futbol-apuestas.png" width="650" height="400">
    <br><br>
    <button class="btn btn-primary option" style="
    color: #004085;
    background-color: #e9ecef;
    border:  none;"/>Jugar</button>
  </div>

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">

  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="trivia" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b style="
    font-family:  cursive;
    color: #5868c1;
">Trivia</b></h1>
    <hr>
    <img src="https://thumbs.dreamstime.com/b/signo-de-interrogaci%C3%B3n-de-bolas-del-balompi%C3%A9-del-f%C3%BAtbol-24535862.jpg" width="400" height="400"><br><br>

    <button class="btn btn-primary option" onclick="location.href='../trivia/'" style="
    color: #004085;
    background-color: #e9ecef;
    border:  none;"> Jugar</button>


  </div>

  <h2> Estos son los estadios en los que se jugarán los encuentros:</h2>
  <div class="slider" style="max-width: 100%;max-height: 100%;">
    <ul>
      <li><img src="{% static '/img/est1.jpg'%}" alt="" style=""></li>
      <li><img src="{% static '/img/est2.jpg' %}" alt="" style=""></li>
      <li><img src="{% static '/img/est3.jpg' %}" alt="" width=""></li>
      <li><img src="{% static '/img/est4.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est5.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est6.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est7.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est8.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est9.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est10.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est11.jpg' %}" alt="" width="100%"></li>
      <li><img src="{% static '/img/est12.jpg' %}" alt="" width="100%"></li>
    </ul>
</div>





<!-- End page content -->


<!-- W3.CSS Container -->

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>
<script>
x='{{ message }}'
if (x=='{{ message }}') {} else (alert('{{ message }}'))

</script>
<script>$("select:empty").hide();</script>





</body>
</html>
