{%load staticfiles %}

{%load staticfiles %}
<!DOCTYPE html>
<html>
<title>Juego de {{ user.get_username }}</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static '/css/perfil.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<body onload='obtenerpregunta()' class='bd'>

<!-- Top menu on small screens -->

<!-- Overlay effect when opening sidebar on small screens -->

  <h1  id ='pregunta'></h1>
  <p><br>Escoja una respuesta</p>
  <br>
  <p id='tiemporestante'></p>
  <div style="w3-center;align-items: center;" >
   <button id='d1' class="btn btn-primary option" onClick="reply_click(this.id);return false;"></button>
   <br>
   <button id='d3' class="btn btn-primary option" onClick="reply_click(this.id);return false;"></button>
   <br>
   <button id='d2' class="btn btn-primary option"  onClick="reply_click(this.id);return false;"></button>
   <br>
   <button id='d0' class="btn btn-primary option" onClick="reply_click(this.id);return false;"></button>

   <p id='rpta'></p>




   </div>

  </body>


  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src= "{% static '/js/trivia.js' %}"></script>







</body>
</html>
