{%load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<html >
  <head>
    <title>Trivia</title>
  </head>

  <body onload='obtenerpregunta()'>
    <div><button id='nuevo' onclick='obtenerpregunta();return false;'>Nueva Pregunta</div></div>


<h1 id ='pregunta'></h1>
<p><br>Escoja una respuesta</p>
<br>
    <button id='d1' onClick="reply_click(this.id)"></button>
    <br>
    <button id='d3' onClick="reply_click(this.id)"></button>
    <br>
    <button id='d2' onClick="reply_click(this.id)"></button>
    <br>
    <button id='d0' onClick="reply_click(this.id)"></button>
  </body>

  <script src= "{% static '/js/trivia.js' %}"></script>

</html>
