#arquero{
  position: absolute;
top: 1%;
left: 30%;
padding: 5px;


}

#central1{
  position: absolute;
top: 7%;
left: 13%;
padding: 5px;
}
#central2{
  position: absolute;
top: 7%;
left: 40%;
padding: 5px;
}
#lateralI{
  position: absolute;
top: 15%;
left: 44%;
padding: 5px;
}
#lateralD{

    position: absolute;
  top: 15%;
  left: 5%;
  padding: 5px;
}

#volante1{
  position: absolute;
top: 25%;
left: 13%;
padding: 5px;
}
#volante2{
  position: absolute;
top: 25%;
left: 40%;
padding: 5px;
}
#carrileroI{
  position: absolute;
top: 35%;
left: 44%;
padding: 5px;
}
#carrileroD{

    position: absolute;
  top: 35%;
  left: 5%;
  padding: 5px;
}

#mediapunta{
  position: absolute;
top: 48%;
left: 30%;
padding: 5px;


}
#delantero{
  position: absolute;
top:60%;
left: 30%;
padding: 5px;

}
