.partidos{
    margin: 20px;
}

.body{
    background-image: url("https://t4.ftcdn.net/jpg/01/17/66/83/240_F_117668344_WIEDi2M0rNrDJaLWKF1jCRKsgt9xyowL.jpg");
    background-color: #cccccc;
}

.marco{
    
    width: 100%;
}

.en_marco{
    padding: 10px;
}

.tx_center{
    text-align: center;
}

.no_margen{
    margin: 0px;
    padding: 0px;
}

.apuesta{
    border: 1px solid grey;
}