.slider{
  width: 1920px;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 1200%;
  animation: cambio 60s infinite alternate linear;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
@keyframes cambio {
  0% {margin-left: 0;}
  6.7% {margin-left: 0;}

  8.4% {margin-left: -100%;}
  15.1% {margin-left: -100%;}

  16.7% {margin-left: -200%;}
  23.4% {margin-left: -200%;}

  25.1% {margin-left: -300%;}
  31.8% {margin-left: -300%;}

  33.5% {margin-left: -400%;}
  40.2% {margin-left: -400%;}

  41.9% {margin-left: -500%;}
  48.6% {margin-left: -500%;}

  50.3% {margin-left: -600%;}
  57% {margin-left: -600%;}

  58.7% {margin-left: -700%;}
  65.4% {margin-left: -700%;}

  67.1% {margin-left: -800%;}
  73.8% {margin-left: -800%;}

  75.5% {margin-left: -900%;}
  82.2% {margin-left: -900%;}

  83.9% {margin-left: -1000%;}
  85.6% {margin-left: -1000%;}

  92.3% {margin-left: -1100%;}
  100% {margin-left: -1100%;}
}
