<!DOCTYPE html>
{%load staticfiles %}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/css/equipoideal.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body onload="obtenerdatos()">
<h1 style="text-align:center;margin:1%">Equipo Ideal</h1>
<div class="row" >
  <div class="col-8" style='position:relative;height:60%'>
    <img src="{% static '/img/campo.png' %}"  style='width:70%;height:70%'>
    <form id='listajug'>
    <div id="arquero"><label><br><p id="rarquero">Arquero</p></label><input name="selection" type="radio" id="arquero" checked="checked"></div>
    <div id="central1"><label><br><p id="rcentral1">Central 1</p></label><input name="selection" type="radio" id="central1" ></div>
    <div id="central2"><label><br><p id="rcentral2">Central 2</p><br></label><input name="selection" type="radio" id="central2" ></div>
    <div id="lateralD"><label><br><p id="rlateralD" >Lateral Derecho</p></label><input name="selection" type="radio" id="lateralD" ></div>
    <div id="lateralI"><label><br><p id="rlateralI">Lateral Izquierdo</p></label><input name="selection" type="radio" id="lateralI" ></div>
    <div id="volante1"><label><br><br><p id="rvolante1">Volante 1</p></label><input name="selection" type="radio" id="volante1" ></div>
    <div id="volante2"><label><br><br><p id="rvolante2" >Volante 2</p></label><input name="selection" type="radio" id="volante2" ></div>
    <div id="carrileroI"><label><br><br><br><p id="rcarrileroI">Carrilero Izquierdo</p></label><input name="selection" type="radio" id="carrileroI" ></div>
    <div id="carrileroD"><label><br><br><br><p id="rcarrileroD">Carrilero Derecho</p><br></label><input name="selection" type="radio" id="carrileroD" ></div>
    <div id="mediapunta"><label><br><br><br><br><p id="rmediapunta">Media Punta</p></label><input name="selection" type="radio" id="mediapunta" ></div>
    <div id="delantero"><label><br><p id="rdelantero">Delantero</p></label><input name="selection" type="radio" id="delantero" ></div>
</form>
    </div>
    <div class="col-4" >
        <div id='selecciondejugadores' style="margin:20%;margin-left:-30%">
<form >
  <div class="form-group">
  <label for="exampleFormControlSelect1">Seleccione un pais: </label>
  <select class="form-control" id="pais">
<option>-----------</option>
  </select>
  <div class="form-group">
  <label for="exampleFormControlSelect1">Seleccione un jugador: </label>
  <select class="form-control" id="jugador">
  </select>
<p id='info'>Seleccione una posicion para agregar</p>
  <button type=button class="btn btn-primary" onclick='return agregarjugador()' id='botonagregar'>Agregar Jugador</button><br>
  <button type=button class="btn btn-secondary" onclick='return confirmarjugadores()' id='botonagregar'>Calcular Puntaje</button>
<br>
<div id='gg' hidden class="alert alert-success">
<p id='g2'>  </p>
</div>
<br>

</div>
      </div>
  </form>
  <button id='home' value='' class="btn btn-success" onClick="window.location.href='../crearequipoideal'" style="color: white;border:none; margin: 50px;">Regresar a tu perfil</button>
<br>
  <div id='gg' hidden class="alert alert-success">
  <p id='g2'> </p>  </div>


    </div>
  </div>
</body>

<style>
.campo{
  background-image: url('../static/img/campo.png');
  width:50% ;
  height:500px ;
  text-align: center;
  color: white;
margin:1%;
background-repeat: no-repeat;
background-size: auto;
}
</style>
<script>
function user(){return '{{user}}'};
function rrgrupo(){return '{{grupo}}'};
function sala(){return '{{salatrivia}}'};
</script>
<script src= "{% static '/js/equipoidealjuego.js' %}"></script>

</html>
