<!DOCTYPE html>
<html>
<body>

<h3>Seleccione una posición:</h3>
<br><br>
<label>Arquero: </label>
<select id="arquero" class="reg_input" size="2" name="arquero">
<label>Defensa: </label>
<select id="defensa1" class="reg_input" size="2" name="defensa1">
<label>Defensa: </label>
<select id="defensa2" class="reg_input" size="2" name="defensa2">
<label>Defensa: </label>
<select id="defensa3" class="reg_input" size="2" name="defensa3">
<label>Defensa: </label>
<select id="defensa4" class="reg_input" size="2" name="defensa4">
<label>Mediocampista Defensivo: </label>
<select id="medio1" class="reg_input" size="2" name="medio1">
<label>Mediocampista Defensivo: </label>
<select id="medio2" class="reg_input" size="2" name="medio2">
<label>Mediocampista Izquiero: </label>
<select id="medio3" class="reg_input" size="2" name="medio3">
<label>Mediocampista Ofensivo: </label>
<select id="medio4" class="reg_input" size="2" name="medio4">
<label>Mediocampista Derecho: </label>
<select id="medio5" class="reg_input" size="2" name="medio5">
<label>Delantero: </label>
<select id="delantero" class="reg_input" size="2" name="delantero">

<img src="https://fthmb.tqn.com/4dKbKMxt4S19eENSgwZUg-EQ7gI=/768x0/filters:no_upscale()/649px-Association_football_4-2-3-1_formation.svg-57b7f18f5f9b58cdfd466487.png" alt="" usemap="#Map" />
<map name="Map" id="Map">
    <area alt="" title="" href="#" shape="rect" coords="324,794" />
    <area alt="" title="" href="#" shape="rect" coords="239,685" />
    <area alt="" title="" href="#" shape="rect" coords="93,631" />
    <area alt="" title="" href="#" shape="rect" coords="424,674" />
    <area alt="" title="" href="#" shape="rect" coords="556,640" />
    <area alt="" title="" href="#" shape="rect" coords="148,415" />
    <area alt="" title="" href="#" shape="rect" coords="319,455" />
    <area alt="" title="" href="#" shape="rect" coords="512,415" />
    <area alt="" title="" href="#" shape="rect" coords="101,183" />
    <area alt="" title="" href="#" shape="rect" coords="326,107" />
    <area alt="" title="" href="#" shape="rect" coords="556,183" />
    [...]
</map>

</body>
</html>
