{%load staticfiles %}
<html style="">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

<script src="https://unpkg.com/sweetalert2@7.12.11/dist/sweetalert2.all.js"></script>
<link rel="stylesheet" href="{% static '/css/polla.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.12.11/sweetalert2.css">
<h1 class="display-2" style="text-align: center;">POLLA ADMIN</h1>

<div class="container">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Instrucciones</h4>
        <p> Se listaran los partidos que estan pedientes de resolucion.
            El administrador elige el ganador del partido y este deja de estas listado
        </p>
        <hr>
        <p class="mb-0">Seleccionar el ganador por partido</p>
    </div>
    <div id="contenido" class="row">

    </div>
</div>

<script>
    function user() {
        return '{{usuario}}'
    }
</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="{% static '/js/polla.js' %}"></script>

</body>


</html>